APP_CONFIG__API__HOST=0.0.0.0
APP_CONFIG__API__PORT=8080
APP_CONFIG__API__RELOAD=false
APP_CONFIG__API__V1_PREFIX=/v1

APP_CONFIG__MIDDLEWARE__ALLOW_ORIGINS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_METHODS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_HEADERS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_CREDENTIALS=false

APP_CONFIG__SERVICES__AUTH_URL=http://127.0.0.1:8000
APP_CONFIG__SERVICES__CATALOG_URL=http://127.0.0.1:8001
APP_CONFIG__SERVICES__ORDER_URL=http://127.0.0.1:8002
APP_CONFIG__SERVICES__PAYMENT_URL=http://127.0.0.1:8003
APP_CONFIG__SERVICES__NOTIFICATION_URL=http://127.0.0.1:8004
APP_CONFIG__SERVICES__ANALYTICS_URL=http://127.0.0.1:8005

APP_CONFIG__JWT__PUBLIC_KEY_PATH=certs/jwt-public.pem
APP_CONFIG__JWT__ALGORITHM=RS256

APP_CONFIG__HTTP_CLIENT__TIMEOUT_SECONDS=10
