MICROSHOP_DB_PASSWORD=microshop_dev_password
MONGODB_PASSWORD=microshop_dev_password
RABBITMQ_PASSWORD=microshop_dev_password

FRONTEND_PORT=3000
GATEWAY_PORT=8080
FRONTEND_API_URL=http://localhost:8080/v1
FRONTEND_SITE_URL=http://localhost:3000
