APP_CONFIG__DB__USER=
APP_CONFIG__DB__PASSWORD=
APP_CONFIG__DB__HOST=
APP_CONFIG__DB__PORT=
APP_CONFIG__DB__NAME=

APP_CONFIG__API__V1_PREFIX=
APP_CONFIG__API__HOST=
APP_CONFIG__API__PORT=
APP_CONFIG__API__RELOAD=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


APP_CONFIG__RABBITMQ__USER=catalog_service
APP_CONFIG__RABBITMQ__PASSWORD=change_me
APP_CONFIG__RABBITMQ__HOST=rabbitmq
APP_CONFIG__RABBITMQ__PORT=5672
APP_CONFIG__RABBITMQ__VHOST=/

APP_CONFIG__REDIS__HOST=redis
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0
APP_CONFIG__REDIS__PASSWORD=change_me
APP_CONFIG__REDIS__TTL_SECONDS=60
APP_CONFIG__REDIS__KEY_PREFIX=catalog

APP_CONFIG__S3__ACCESS_KEY=minio
APP_CONFIG__S3__SECRET_KEY=change_me
APP_CONFIG__S3__ENDPOINT_URL=http://minio:9000
APP_CONFIG__S3__PUBLIC_ENDPOINT_URL=http://localhost:9000
APP_CONFIG__S3__SERVICE_NAME=s3
APP_CONFIG__S3__REGION_NAME=us-east-1
APP_CONFIG__S3__BUCKET_NAME=catalog-images
APP_CONFIG__S3__PRESIGNED_URL_EXPIRE_SECONDS=3600
