APP_CONFIG__MONGODB__USER=mongo
APP_CONFIG__MONGODB__PASSWORD=change_me
APP_CONFIG__MONGODB__HOST=mongodb
APP_CONFIG__MONGODB__PORT=27017
APP_CONFIG__MONGODB__NAME=start_app
APP_CONFIG__MONGODB__AUTH_SOURCE=admin

APP_CONFIG__API__V1_PREFIX=/v1
APP_CONFIG__API__HOST=0.0.0.0
APP_CONFIG__API__PORT=8005
APP_CONFIG__API__RELOAD=false

APP_CONFIG__KAFKA__BOOTSTRAP_SERVERS=kafka:29092
APP_CONFIG__KAFKA__CLIENT_ID=analytics-service
APP_CONFIG__KAFKA__GROUP_ID=analytics-service
APP_CONFIG__KAFKA__AUTO_OFFSET_RESET=earliest
APP_CONFIG__KAFKA__ENABLE_AUTO_COMMIT=false
APP_CONFIG__ANALYTICS_TOPICS__ORDER_EVENTS_TOPIC=order.analytics.events
APP_CONFIG__ANALYTICS_TOPICS__PAYMENT_EVENTS_TOPIC=payment.analytics.events

APP_CONFIG__REDIS__HOST=redis
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0
APP_CONFIG__REDIS__PASSWORD=change_me
APP_CONFIG__REDIS__TTL_SECONDS=60
APP_CONFIG__REDIS__KEY_PREFIX=analytics
APP_CONFIG__REDIS__OVERVIEW_KEY=overview


MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=change_me
MONGO_INITDB_DATABASE=start_app
