APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__PASSWORD=change_me
APP_CONFIG__DB__HOST=postgres
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=auth_service_db

APP_CONFIG__API__V1_PREFIX=/v1
APP_CONFIG__API__HOST=0.0.0.0
APP_CONFIG__API__PORT=8000
APP_CONFIG__API__RELOAD=false

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=auth_service_db


APP_CONFIG__JWT_AUTH__PRIVATE_KEY_PATH=certs/jwt-private.pem
APP_CONFIG__JWT_AUTH__PUBLIC_KEY_PATH=certs/jwt-public.pem
APP_CONFIG__JWT_AUTH__ALGORITHM=RS256
APP_CONFIG__JWT_AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=15
APP_CONFIG__JWT_AUTH__REFRESH_TOKEN_EXPIRE_DAYS=7

APP_CONFIG__REFRESH_TOKEN_COOKIES__KEY=refresh_token
APP_CONFIG__REFRESH_TOKEN_COOKIES__SECURE=false
APP_CONFIG__REFRESH_TOKEN_COOKIES__HTTPONLY=true
APP_CONFIG__REFRESH_TOKEN_COOKIES__SAME_SITE=lax

APP_CONFIG__INTERNAL_API__TOKEN=change_me

APP_CONFIG__REDIS__HOST=redis
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0
APP_CONFIG__REDIS__PASSWORD=change_me
APP_CONFIG__REDIS__TTL_SECONDS=60
APP_CONFIG__REDIS__KEY_PREFIX=auth
APP_CONFIG__REDIS__BALANCE_KEY=balance:
