APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__PASSWORD=change_me
APP_CONFIG__DB__HOST=postgres
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=payment_service_db

APP_CONFIG__API__V1_PREFIX=/v1
APP_CONFIG__API__HOST=0.0.0.0
APP_CONFIG__API__PORT=8003
APP_CONFIG__API__RELOAD=false

APP_CONFIG__KAFKA__BOOTSTRAP_SERVERS=host.docker.internal:9092
APP_CONFIG__KAFKA__CLIENT_ID=payment-service
APP_CONFIG__KAFKA__ACKS=all
APP_CONFIG__ANALYTICS_TOPICS__PAYMENT_EVENTS_TOPIC=payment.analytics.events

APP_CONFIG__AUTH_CLIENT__BASE_URL=http://auth-service:8000/v1/internal
APP_CONFIG__AUTH_CLIENT__INTERNAL_TOKEN=change_me

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=payment_service_db


APP_CONFIG__RABBITMQ__USER=payment_service
APP_CONFIG__RABBITMQ__PASSWORD=change_me
APP_CONFIG__RABBITMQ__HOST=rabbitmq
APP_CONFIG__RABBITMQ__PORT=5672
APP_CONFIG__RABBITMQ__VHOST=/

APP_CONFIG__REDIS__HOST=redis
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0
APP_CONFIG__REDIS__PASSWORD=change_me
APP_CONFIG__REDIS__TTL_SECONDS=60
APP_CONFIG__REDIS__KEY_PREFIX=payment
APP_CONFIG__REDIS__PAYMENT_KEY=payment:
APP_CONFIG__REDIS__ORDER_PAYMENTS_KEY=order:
APP_CONFIG__REDIS__USER_PAYMENTS_KEY=user:
